@keyframes h {
		from {
			left: -500px;
		}

		to {
			left: 0;
		}
	}

	@-webkit-keyframes h {
			from {
			left: -500px;
		}

		to {
			left: 0;
		}
	}
	@-o-keyframes h {
			from {
			left: -500px;
		}

		to {
			left: 0;
		}

	}
	@-moz-keyframes h {
			from {
			left: -500px;
		}

		to {
			left: 0;
		}
	}

	@media screen and (max-width: 960px) {
		@keyframes animateTop {
			from {
				top: 100px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}

		@-webkit-keyframes animateTop {
			from {
				top: 100px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}
		@-o-keyframes animateTop {
			from {
				top: 100px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}
		@-moz-keyframes animateTop {
			from {
				top: 100px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}

				@keyframes link-out {
			from {
				left: 0;
				transition: 1s;
			}

			to {
				left: -1500px;
				transition: 1.1s;
			}
		}

		@keyframes link {
			from {
				left: 1500px;
				transition: 1s;
			}

			to {
				left: 0;
				transition: 1.1s;
			}
		}

		@-webkit-keyframes link {
			from {
				left: 1500px;
				transition: 4s;
			}

			to {
				left: 0;
				transition: 4s;
			}
		}
		@-o-keyframes link {
			from {
				left: 1500px;
				transition: 4s;
			}

			to {
				left: 0;
				transition: 4s;
			}
		}
		@-moz-keyframes link {
			from {
				left: 1500px;
				transition: 4s;
			}

			to {
				left: 0;
				transition: 4s;
			}
		}
	}

	@media screen and (min-width: 960px) {
		@keyframes desktop {
			from {
				right: -500px;
			}

			to {
				right: 0;
			}
		}

		@-webkit-keyframes desktop {
			from {
				right: -500px;
			}

			to {
				right: 0;
			}
		}
		@-o-keyframes desktop {
			from {
				right: -500px;
			}

			to {
				right: 0;
			}
		}
		@-moz-keyframes desktop {
			from {
				right: -500px;
			}

			to {
				right: 0;
			}
		}
	}

	@keyframes second_header {
		from {bottom: -200px;}
		to {bottom: 0}
	}

	@-webkit-keyframes second_header {
		from {bottom: -200px;}
		to {bottom: 0}
	}
	@-o-keyframes second_header {
		from {bottom: -200px;}
		to {bottom: 0}
	}
	@-moz-keyframes second_header {
		from {bottom: -200px;}
		to {bottom: 0}
	}

	@keyframes first_header {
		from {left: -100px; }
		to { left: 0; }
	}

	@-webkit-keyframes first_header {
		from {left: -100px; }
		to { left: 0; }
	}
	@-o-keyframes first_header {
		from {left: -100px; }
		to { left: 0; }
	}
	@-moz-keyframes first_header {
		from {left: -100px; }
		to { left: 0; }
	}

	@keyframes image {
		from {bottom: -400px;}
		to {bottom: 0}
	}

	@-webkit-keyframes image {
		from {right: -100px;}
		to {right: 0}
	}
	@-o-keyframes image {
		from {right: -100px;}
		to {right: 0}
	}
	@-moz-keyframes image {
		from {right: -100px;}
		to {right: 0}
	}